---
name: test

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: test-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

jobs:
  build_and_test:
    name: build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: clean up cargo bin dir for rustup
        run: |
          rm "${HOME}"/.cargo/bin/cargo-fmt
          rm "${HOME}"/.cargo/bin/rust-analyzer
          rm "${HOME}"/.cargo/bin/rustfmt
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup component add rust-analyzer
      - run: rustup component list
      - run: cargo build --verbose
      - run: cargo test --verbose
